
.navbar{
    background-color: black;
}

#mission{
  
    margin-top: 5px;
}
p{
    font-weight: lighter;
}

ul{
    font-weight: bold;
}
#deviceOptions{
    background-color: black;
    color: whitesmoke;
    margin-top: 10px;
    text-align: center;
    font-weight: lighter;
}
#find{
    color: black; 
}

#locations{
  
}

        #location1{
            color: black;
            display: inline-block;
            border: solid;
            padding:1px;


            }

        #location2{
            color: black;
            display: inline;
            border: solid;
            padding:70px;

        }

        #location3{
            color: black;
            display: inline;
            border: solid;
            padding:70px;
        }


h3{
    font-weight: lighter;
    font-size: 50px;
    color:black;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0;
}


#insta{
    text-align: center;
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 10px;
    color: black;
    border: 2px solid;
    border-radius: 50%;
    transition: .5s;
}

#face{
    text-align: center;
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-size: 20px;
    padding: 10px 10px;
    color: black;
    border: 2px solid;
    border-radius: 50%;
    transition: .5s;
}


.fa{
    
    color:whitesmoke;
    
}

.fa:hover {
    background-color:whitesmoke;
    color: gold;
    border: 1px solid gold;

}


footer,
  .push {
      text-align: center;
    height: 105px;
  }
  
  #container{
    background-color: black; 
   
  }

  #follow{
      color: whitesmoke;
  }

  #copy{
      background-color: black;
      color:gold;

  }